body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white
}

header{
    justify-content: center;
    align-items: center;
    gap: 40px;    
    background-image:url(./header.png);
    background-position: 5cm;
    margin: 1px;
    padding: 5px;
      
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    text-align:center;
    color: azure;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 5px;
    margin: 0px;
}

header ul a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}


footer{
    color: azure;
    font-weight: bold;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image:url(./header.png);
    background-position: 2px;
    margin: 0px;
    padding: 5px;
}

